body {
    font-family: Roboto;
}

h1, h2 {
    font-family: Oswald;
}

body > header,
body > main,
body > footer {
    max-width: 1000px;
    margin: auto;
}

body > header {
    position: relative;
}

footer > span {
    font-family: Oswald;
    margin-top: 16px;
    display: block;
    text-align: center;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

tr:nth-child(2n) {
    background-color: rgba(0,0,0,0.05);
}

.github-corner {
    position: absolute;
    top: -21px;
    right: 0;
}

.github-corner .text {
    display: none;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%,100% {
        transform: rotate(0);
    }

    20%,60% {
        transform: rotate(-25deg);
    }

    40%,80% {
        transform: rotate(10deg);
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none;
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
}
